<html class="flex w-full h-full "><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body style="height: min-content;" class="my-auto w-full">
<!-- This is an example component -->
<div class="max-w-lg mx-auto">
    {% include "partials.errors" with {errors:errors} %}
    <form action="{{ route('progress.login') }}" method="post">
        {{ csrf_field() }}
        <div class="mb-6">
            <label for="email" class="text-sm font-medium text-gray-900 block mb-2">E-Mail Adresiniz</label>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@flowbite.com" required="">
        </div>
        <div class="mb-6">
            <label for="password" class="text-sm font-medium text-gray-900 block mb-2">Şifreniz</label>
            <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required="">
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Giriş Yap</button>
    </form>

    <p class="mt-5">Bu sisteme sadece Berk Soroğlu ile iş birliği yapanlar erişebilir. Eğer bir hata olduğunu düşünüyorsanız, büyük ihtimal siz bunu düşünürken çözülmüştür. :) Yine de
        <a style="color: blue;" href="mailto:teknik@berksoroglu.com">buradan</a> bana ulaşabilirsiniz.</p>
</div>


</body>
</html>
